<form class="form-horizontal">

    <div class="form-group">
        <label for="inputMessage1" class="col-sm-2 control-label">메세지</label>

        <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="inputMessage1"></textarea>

            <div style="margin-top: 10px;">
                <button class="btn btn-primary" type="submit">저장</button>

                <a class="btn btn-primary" href="#/list" role="button">취소</a>
            </div>
        </div>

    </div>

</form>
