<form>

    <div class="form-group">
        <label for="inputEmail1">이메일</label>
        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="inputPassword1">비밀번호</label>
        <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary" onclick="location.href='#/list'">로그인</button>

    <button type="button" class="btn btn-primary" onclick="location.href='#/regist'";>회원가입</button>

</form>