<form>

    <div class="form-group">
        <label for="inputEmail2">이메일</label>
        <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="inputPassword2">비밀번호</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="inputPasswordCheck1">비밀번호 확인</label>
        <input type="password" class="form-control" id="inputPasswordCheck1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="inputNickName1">닉네임</label>
        <input type="text" class="form-control" id="inputNickName1" placeholder="닉네임을 입력하세요.">
    </div>

    <button type="submit" class="btn btn-primary" onclick="location.href='#/'">가입</button>

    <button type="button" class="btn btn-primary" onclick="location.href='#/'";>취소</button>

</form>